* {
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 95vh;
	align-items: center;
	justify-content: center;
	gap: 60px;
}
/* GAME  */

main {
	display: flex;
	justify-content: center;
}

.game {
	display: flex;
}

.square {
	height: 90px;
	width: 90px;
}

#x1y1,
#x1y2,
#x1y3,
#x2y1,
#x2y2,
#x2y3 {
	border-right: solid black 3px;
}

#x1y1,
#x2y1,
#x3y1,
#x1y2,
#x2y2,
#x3y2 {
	border-bottom: solid black 3px;
}

/* SCORE */

#score {
	display: flex;
	justify-content: center;
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	width: 42px;
	height: 42px;
	font-size: 14px;
}

/* FOOTER */

footer {
	font-size: 13px;
}
