* {
	box-sizing: border-box;
}

/* GAME  */

main {
	display: flex;
	justify-content: center;
	padding-top: 40px;
}

.game {
	display: flex;
}

.square {
	height: 90px;
	width: 90px;
}

#x1y1,
#x1y2,
#x1y3,
#x2y1,
#x2y2,
#x2y3 {
	border-right: solid black 3px;
}

#x1y1,
#x2y1,
#x3y1,
#x1y2,
#x2y2,
#x3y2 {
	border-bottom: solid black 3px;
}

/* SCORE */

#score {
	display: flex;
	justify-content: center;
	padding-top: 60px;
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	width: 50px;
	height: 50px;
}
